p {
    font-family: Lato;
  }
  body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
  }
  .board {
      width: 220px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; 
  }
  .box {
    width: 60px;
    height: 60px;
    background:  #D4F6FF;
    border: 1px solid;
    font-family: "FontAwesome";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
  }
  
  .box:hover {
    background: #C6E7FF ; 
    ;
  }
  
  .x::after{
    content:"\f00d";
    color:#f01717;
  }
  .o::after{
    content:"\f10c";
    color:#f8f398;
  }
  h1 {
    font-family: "Sour Gummy", sans-serif;
    font-weight: 700; 
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
}